/* style.styl */
@import "normalize.css";
/* General - Setting up some base styles */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  height: 100%;
  max-height: 100%;
}
body {
  font-size: 1.9rem;
  line-height: 1.6em;
  height: 100%;
  max-height: 100%;
  background-color: var(--background);
}
.unselectable {
  user-select: none;
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-rendering: optimizeLegibility;
  text-align: left;
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: var(--heading);
}
h1 {
  font-size: 2.8rem;
  line-height: 1.2em;
  letter-spacing: -2px;
  margin-left: -2px;
  border: var(--h1-border);
}
h2 {
  font-size: 2.4rem;
  line-height: 1.2em;
  letter-spacing: -1px;
  margin-top: 1.6em;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.8rem;
}
h5 {
  font-size: 1.6rem;
  font-weight: normal;
}
h6 {
  font-size: 1.4rem;
}
img.invert-safe {
  filter: invert(--invert-amt);
}
p {
  text-align: justify;
}
ul,
ol {
  padding-inline-start: 1.5em;
}
a {
  color: var(--link);
  transition: color ease 0.3s;
}
a:hover {
  color: var(--link-hover);
}
.footnote-ref {
  padding-top: 88px;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
p,
ul,
ol,
dl {
  margin: 1.2em 0;
  color: var(--text);
}
ol ol,
ul ul,
ul ol,
ol ul {
  margin: 0.4em 0;
}
li p {
  margin: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px dashed #efefef;
  padding: 0;
}
figure {
  text-align: right;
}
figure figcaption {
  font-family: sans-serif;
  font-style: italic;
  color: #808080;
  font-size: 0.6em;
}
blockquote {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1.6em 0 1.6em 0;
  padding: 0.4em 0.6em;
  color: var(--text);
  background-color: var(--box-bg);
}
blockquote ul,
blockquote ol {
  margin-top: 0;
  margin-bottom: 5px;
}
blockquote p {
  text-align: left;
  margin: 0;
}
blockquote small {
  display: inline-block;
  margin: 0.8em 0 0.8em 1.5em;
  font-size: 0.8em;
  color: #ccc;
}
blockquote small:before {
  content: '\2014 \00A0';
}
blockquote cite {
  font-weight: bold;
}
blockquote cite a {
  font-weight: normal;
}
blockquote.right-align {
  text-align: right;
}
.button-box {
  text-align: right;
}
.highlight pre {
  padding: 5px 10px;
  font-size: 1.4rem;
  letter-spacing: -1px;
  overflow: auto;
}
p code,
li code {
  padding: 3px 3px 1px 3px;
  font-size: 0.8em;
  white-space: pre-line;
  border: none;
  color: var(--text);
  background: var(--inline-code-bg);
  border-radius: 3px;
  hyphens: none;
  text-align: left;
}
pre {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  color: var(--Foreground);
  background-color: var(--Background);
  font-size: 0.8em;
  line-height: 1.2em;
  white-space: pre;
  word-break: normal;
  letter-spacing: -1px;
  overflow: scroll;
}
pre.console {
  font-size: 1.4rem;
  padding: 10px;
  letter-spacing: -1px;
  overflow: scroll;
}
table {
  font-size: 1.7rem;
  box-sizing: border-box;
  margin: 1.6em 0;
  width: 100%;
  max-width: 100%;
  border: 1px solid var(--line);
  color: var(--text);
}
table th,
table td {
  padding: 0 8px;
  border-top: 1px solid var(--line);
}
table thead > tr {
  background-color: rgba(221,221,221,0.1);
}
table tbody > tr:nth-child(even) {
  background-color: rgba(221,221,221,0.1);
}
twitter-widget,
video {
  display: block;
  margin: auto;
  max-width: 95%;
}
/* General - The main styles for thie theme */
.navbar {
  font-size: 1.8rm;
  border: 1px solid transparent;
  margin-bottom: 20px;
  min-height: 50px;
  background-color: var(--navbar-bg);
  border-color: #333;
  border-width: 0 0 1px;
  top: 0;
  left: 0;
  right: 0;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  z-index: 1030;
}
.navbar-header {
  float: left;
}
.navbar-toggle {
  display: none;
}
.navbar-brand {
  float: left;
  text-decoration: none;
  color: #bbb;
  font-size: 18px;
  height: 50px;
  line-height: 20px;
  padding: 15px;
  margin-left: -15px;
}
.navbar-brand:focus,
.navbar-brand:hover {
  text-decoration: none;
  color: #eee;
}
.navbar-items {
  float: right;
  margin: 0;
  list-style: none;
}
.navbar-items ul {
  margin: 0;
}
.navbar-items li {
  display: block;
  position: relative;
  float: left;
  color: #bbb;
  font-size: 1.8rem;
  padding: 10px 15px;
  display: block;
  position: relative;
}
.navbar-items li input {
  font-size: 1.5rem;
  padding: 5px;
  border: none;
  border-radius: 5px;
  outline: 0;
  background-color: #d3d3d3;
}
.navbar-items li a {
  text-decoration: none;
}
.navbar-items li a:focus,
.navbar-items li a:hover {
  color: #eee;
  outline: none;
}
.site-head,
.page-head {
  position: relative;
  display: table;
  width: 100%;
  height: 50px;
}
.blog-description {
  font-size: 1.6rem;
  line-height: 2rem;
  margin-top: -15px;
  color: #aaa;
}
.page-head .post-title {
  color: var(--heading);
  font-size: 4rem;
  font-face: bold;
  padding-top: 18px;
  padding-bottom: 8px;
  margin-bottom: 0;
}
.post .post-excerpt h1,
.post .post-excerpt h2,
.post .post-excerpt h3,
.post .post-excerpt h4,
.post .post-excerpt h5,
.post .post-excerpt h6,
.post .post-excerpt img,
.post .post-excerpt blockquote {
  display: none;
}
ul.pagination {
  display: block;
  text-align: center;
  list-style-type: none;
  padding: 0;
}
ul.pagination li {
  display: inline-block;
  margin: 0;
}
ul.pagination li a {
  padding: 3px 6px;
  text-decoration: none;
}
/* Every post, on every page */
.post {
  clear: right;
  text-align: justify;
  position: relative;
  padding-bottom: 2rem;
  border-bottom: var(--line) 1px solid;
  margin-bottom: 2rem;
  word-break: break-word;
  hyphens: auto;
/* Add a little circle in the middle of the border-bottom on our .post
     just for the lolz and stylepoints. */
}
.post li {
  text-align: left;
}
.post li img {
  max-width: 100%;
}
.post:after {
  display: block;
  content: "";
  width: 7px;
  height: 7px;
  border: var(--line) 1px solid;
  position: absolute;
  bottom: -5px;
  left: 50%;
  margin-left: -5px;
  background: var(--background);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  box-shadow: var(--background) 0 0 0 5px;
}
.post img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  filter: brightness(var(--img-brightness));
}
.post img.right {
  float: right;
}
.post img.invert-safe {
  filter: invert(var(--invert-amt));
}
.post-content,
.post-excerpt {
  font-family: serif;
}
.post-footer {
  padding: 4rem 0;
}
#progress {
  overflow: hidden;
  left: 0;
  position: fixed;
  height: 8px;
  width: 100%;
  background: var(--progress-bg);
  z-index: 900;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#scroll-title {
  color: #fff;
  position: absolute;
  top: 0px;
  padding: 5px 0;
}
#bar {
  background-color: #888;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
/* Every post in `archive` page */
.post-archive {
  clear: right;
  text-align: left;
  position: relative;
  padding-bottom: 2rem;
  word-break: break-word;
  hyphens: auto;
}
.post-title a {
  text-decoration: none;
}
.post-meta {
  display: inline-block;
  font-size: 1.6rem;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--post-meta);
}
.post-meta +h1 {
  margin-top: 0;
}
.draft {
  color: #ff4500;
}
-moz-selection {
  color: #222;
  background: #d6edff;
  text-shadow: none;
}
selection {
  color: #222;
  background: #d6edff;
  text-shadow: none;
}
.widget {
  padding-bottom: 30px;
  border-bottom: 1px solid #808080;
  margin-bottom: 30px;
}
.tag-box,
.post-meta {
  margin: 0;
  overflow: hidden;
}
.tag-box.inline li,
.post-meta.inline li {
  float: left;
}
.tag-box a,
.post-meta a {
  font-size: 0.8em;
  padding: 2px 6px;
  margin: 2px;
  color: var(--tagbox);
  border-radius: 5px;
  text-decoration: none;
  border: 1px dotted #bbb;
}
.tag-box a:hover,
.post-meta a:hover {
  color: #fff;
  background-color: #999;
  border: 1px solid #888;
}
.tag-box a sup:before,
.post-meta a sup:before {
  content: "(";
}
.tag-box a sup:after,
.post-meta a sup:after {
  content: ")";
}
.list-unstyled {
  list-style: none;
  padding-left: 0;
}
.archive-ul {
  font-size: 2.4rem;
  font-weight: bold;
  color: var(--archive-ul);
  cursor: pointer;
}
.archive-ul:before {
  content: "";
  display: block;
  height: 50px;
  margin: -50px 0 0;
}
.listing-item {
  color: var(--text);
}
.listing-item .post-title {
  margin-top: 0;
  margin-bottom: 5px;
  line-height: 1;
  text-align: left;
}
.listing-item .post-meta {
  vertical-align: middle;
}
.listing-item .post-meta:after {
  content: " ";
  white-space: pre;
}
/* from bootstrap */
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 5px solid;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}
#article-nav {
  border-top: 1px solid #ebf2f6;
  padding-top: 20px;
}
#article-nav:after {
  clear: both;
}
#article-nav-newer {
  float: left;
  text-decoration: none;
  margin-right: 10px;
}
#article-nav-newer:before {
  content: "< ";
  vertical-align: top;
  font-weight: bold;
}
#article-nav-older {
  float: right;
  text-decoration: none;
  text-align: right;
  margin-left: 10px;
}
#article-nav-older:after {
  content: " >";
  vertical-align: top;
  font-weight: bold;
}
.article-nav-title {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.share {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ebf2f6;
}
.share a {
  text-decoration: none;
}
.width-over-400 {
  display: inline;
}
/* Pagination */
#page-nav {
  width: 100%;
  margin-top: 30px;
  text-align: center;
}
#page-nav a {
  vertical-align: middle;
  text-decoration: none;
}
#page-nav .page-number,
#page-nav .prev,
#page-nav .next {
  font-size: 90%;
  margin-left: 5px;
  margin-right: 5px;
}
#page-nav .prev,
#page-nav .next {
  white-space: nowrap;
  vertical-align: top;
  font-size: 16.2px;
}
#page-nav .prev {
  margin-right: 20px;
  margin-right: 5px;
  vertical-align: top;
  font-weight: bold;
}
#page-nav .next {
  margin-left: 20px;
  margin-left: 5px;
  vertical-align: top;
  font-weight: bold;
}
.label {
  border-radius: 0.25em;
  color: #fff;
  background-color: #aaa;
  display: inline;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  padding: 0.2em 0.6em 0.3em;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
}
.label-danger {
  background-color: #d9534f;
}
.label-primary {
  background-color: #428bca;
}
.label-info {
  background-color: #5bc0de;
}
#comment {
  clear: both;
  padding-top: 50px;
}
/* Footer */
.page-bottom {
  position: relative;
  margin: 8rem 0 0 0;
  padding: 4rem 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  line-height: 1.7em;
  color: #aaa;
  background-color: var(--footer-bg);
  text-align: center;
}
.page-bottom a {
  color: #aaa;
  text-decoration: underline;
}
.page-bottom a:hover {
  color: #555;
}
.poweredby .icon-ghost {
  font-weight: 700;
  text-decoration: none;
}
.poweredby .icon-ghost:hover {
  text-decoration: none;
}
.poweredby .icon-ghost:before {
  font-size: 1rem;
  margin-right: 0.2em;
}
/* Override bootstrap classes */
.container {
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.navbar-nav>li>a {
  font-size: 1.8rem;
}
.navbar-toggle {
  display: none;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.collapsed {
  max-height: 0;
}
.collapsed.in {
  overflow: hidden;
}
@media only screen and (max-width: 900px) {
  blockquote {
    margin-left: 0;
  }
  .site-head,
  .page-head {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .blog-description {
    font-size: 1.5rem;
    line-height: 1.3em;
  }
  .post {
    font-size: 0.9em;
    line-height: 1.6em;
  }
  .post img {
    max-width: 100%;
  }
  .post-template .post {
    padding-bottom: 1rem;
  }
  .post-template .post-header {
    padding: 40px 0;
  }
  .page-head .post-title {
    font-size: 4rem;
  }
  .navbar-items li {
    padding: 10px 10px;
  }
}
@media only screen and (max-width: 640px) {
  .blog-description {
    font-size: 1.2rem;
  }
  .navbar-header {
    float: none;
  }
  .navbar-toggle {
    display: inline;
    float: right;
    color: #ccc;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 3.5rem;
    letter-spacing: -3px;
    transition: all 0.3s ease;
  }
  .navbar-toggle.rotated {
    transform: rotate(45deg);
  }
  .navbar-items {
    clear: both;
    float: none;
    heigth: 1px;
    margin-left: -15px;
    margin-right: -15px;
    overflow-y: auto;
    border-color: #333;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    border-top: 1px solid transparent;
    max-height: 500px;
    -moz-transition: max-height 0.3s ease;
    -ms-transition: max-height 0.3s ease;
    -o-transition: max-height 0.3s ease;
    transition: max-height 0.3s ease;
  }
  .navbar-items.collapsed {
    max-height: 0;
    -moz-transition: max-height 0s ease;
    -ms-transition: max-height 0s ease;
    -o-transition: max-height 0s ease;
    transition: max-height 0s ease;
  }
  .navbar-items ul {
    padding: 0;
  }
  .navbar li {
    float: none;
    padding: 10px 20px;
  }
  .post img.right {
    float: none;
  }
}
@media only screen and (max-width: 500px) {
  .blog-logo img {
    max-height: 80px;
  }
  #main-nav {
    font-size: 0.7em;
    margin-right: 16px;
  }
  #main-nav ul li {
    margin-left: 10px;
  }
  .inner,
  .pagination {
    width: auto;
    margin-left: 16px;
    margin-right: 16px;
  }
  .post {
    width: auto;
    font-size: 0.8em;
    line-height: 1.6em;
  }
  .post img {
    max-width: 100%;
  }
  .blog-description {
    font-size: 1rem;
  }
  .page-head .post-title {
    font-size: 2.5rem;
  }
  h1 {
    font-size: 2.4rem;
    line-height: 1.1em;
    letter-spacing: -1px;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.8rem;
  }
  h4 {
    font-size: 1.6rem;
  }
  h5 {
    font-size: 1.4rem;
  }
  h6 {
    font-size: 1.2rem;
  }
  .post img.right {
    float: none;
  }
  .listing-item .post-title {
    font-size: 1.6rem;
  }
  .post-template .post {
    padding-bottom: 0;
  }
  .post-template .post-header {
    padding: 30px 0;
  }
  .post-meta {
    font-size: 1.3rem;
  }
  .post-footer {
    padding: 2.5rem 0;
  }
  .post-footer .author {
    margin: 0 0 2rem 0;
    padding: 0 0 1.6rem 0;
    border-bottom: #ebf2f6 1px dashed;
  }
  .post-footer .share a {
    margin: 1.4rem 0.8rem 0 0.8rem;
  }
  .article-nav-title {
    max-width: 100%;
  }
  .older-posts,
  .newer-posts {
    position: static;
    margin: 10px 0;
  }
  .extend {
    display: block;
  }
  .page-number {
    display: inline-block;
  }
  .page-bottom {
    margin-top: 6rem;
    font-size: 1.1rem;
  }
  pre.console {
    margin: 5px 0;
    padding: 5px;
  }
}
@media only screen and (max-width: 440px) {
  .blog-description {
    display: none;
  }
  .width-over-440 {
    display: none;
  }
}
